.input {
  background-color: transparent;
  border: 1px solid var(--c-border);
  padding: 0.4em 0.5em 0.3em 0.5em;
  box-sizing: border-box;
  line-height: 3rem;
  height: 3rem;

  &:focus {
    outline: none;
  }
}

.textarea {
  height: auto;
}
