.root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 var(--space-gutter);
  //background-color: var(--c-black);
  height: 100%;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  & > * + * {
    margin-left: var(--space-section);
  }
}

.preview {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.format {
}

.form {
}

.formTitle {
  margin-bottom: 3rem;
}

.setActiveType {
}

.loginForm {
  max-width: 90%;
  width: 500px;
  margin: 20vh auto 0 auto;
}

.setActiveTypeButton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 0.5em;
  display: inline-block;
  cursor: pointer;
}

.setActiveTypeButtonActive {
  text-decoration: underline;
}
