.root {
  background-color: transparent;
  display: block;
  width: 100%;
  outline: none;
  border: none;
  text-align: left;
  cursor: default;
  opacity: 0.5;
}

.rootActive {
  cursor: pointer;
  opacity: 1;
}

.type {
  font-size: var(--fs-small);
  display: flex;
  justify-content: space-between;
}

.text {
  margin-top: 0.1em;
  font-size: var(--fs-xsmall);
}
