.root {
  --navigation-width: 100px;

  min-height: 100vh;
  padding: 0 0 0 var(--navigation-width);
  height: 100vh;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--navigation-width);
}

.content {
  width: calc(100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0 0 auto 0;
}

.footer {
  margin: auto 0 0 0;
  background-color: var(--c-bkg-dark);
  padding: var(--space-gutter) var(--space-section);
  color: #fff;
  text-align: center;
}

.main {
  height: 100%;
  flex: 1;
}
