.root {
  position: relative;
  width: 1.2em;
  height: 1.2em;
  text-indent: -9999px;
  cursor: pointer;
  border-radius: 50%;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    width: 60%;
    height: 1px;
    background-color: currentColor;
  }

  &::before {
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  }

  &:hover {
    background-color: var(--c-bkg-close-button-hover);
    opacity: 1;
  }
}
