:root {
  --c-black: #232323;
  --c-black-hover: #343434;
  --c-black-light: #4c4c4c;
  --c-border: #999999;
  --c-yellow: #ffcf00;
  --c-yellow-dark: #b09c34;
  --c-gray: #585858;
  --c-gray-hover: #6b6b6b;
  --c-p: var(--c-black);
  --c-p-light: var(--c-black-light);
  --c-p-semi: #ffffffd4;
  --c-p-white: #fff;
  --c-bkg: #fff;
  --c-bkg-dark: #323232;
  --c-bkg-light: #454545;
  --c-red: #dc361a;
  --c-green: #76b82a;
}
